{% extends 'base_plataforma.html' %}
{% load static %}

{% block 'titulo' %}Plano Alimentar{% endblock  %}

{% block 'plataforma' %}
  <br>
  <div class="row">

    <div class="col-md-2 foto-perfil">
      {% if paciente.sexo == "M"%}
        <img src="{% static 'plataforma/img/perfil2.png' %}">
      {% else %}
        <img src="{% static 'plataforma/img/perfil1.png' %}">
      {% endif %}
    </div>

    <div class="col-md-3 dados-descricao">
      <h4>{{paciente.nome}}</h4>
      <h6>{{paciente.idade}} Anos</h6>
      <!--Botão Modal "Nova Refeição"-->
      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#novaRefeicaoModal">
        Nova refeição
      </button>
    </div>

  </div>
  
  <div class="painel">
    {% if messages %}
      <br>
      {% for message in messages %}
        <div class="alert {{message.tags}}">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    <hr>
    
    {% if refeicoes %}
      <!-- Botão Modal "Opção" -->
      <button style="margin-left: 10px;" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#novaOpcaoModal">
        Opção de refeição
      </button>
      
      <button style="margin-left: 10px;" type="button" class="btn btn-outline-primary">
        Exportar Plano de Alimentação
      </button>
      <br>
      
      {% for refeicao in refeicoes %}
        <div class="fundo-alimentar">
          <div class="refeicao">
            
            <div class="head-refeicao">
              <span>{{refeicao.titulo}}</span>
              <span> - </span>
              <span>{{refeicao.horario}}</span>
              
              <!-- Botão "Excluir Refeição" -->
              <button style="float: right; color: black;" type="button" class="close" data-toggle="modal" data-target="#excluirRefeicao" data-id="{{refeicao.id}}">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="body-refeicao">
              {% for opcao in opcoes %}
                {% if opcao.refeicao == refeicao %}
                  <div class="opcao">
                    <div class="row">
                      
                      <div class="col-md-1">
                        <img width="100%" src="{{opcao.imagem.url}}"> 
                      </div>
                      
                      <div style="text-align: left;" class="col-md-9">
                        {{opcao.descricao}}
                      </div>
                      
                      <!-- Botão "Excluir Opção" -->
                      <div style="text-align: right; padding-right: 15px;" class="col-md-2">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#excluirOpcao" data-id="{{opcao.id}}">
                          Excluir
                        </button>
                      </div>
                      
                    </div>
                  </div>
                  <br>
                {% endif %}
              {% endfor %}
            </div>
            
          </div>
        </div>
      {% endfor %}
    {% else %}
      <label>Esse paciente ainda não possui plano de alimentação, cadastre uma nova refeição!</label>
    {% endif %}
  </div>

  <!-- Modal "Nova Refeição" -->
  <div class="modal fade" id="novaRefeicaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{paciente.nome}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          
        <div class="modal-body">
            
          <h4 class="titulo">Adicionar refeição:</h4>
          <br>
          <!-- Formulário "Nova Refeição" -->
          <div id="form-refeicao">
            <form action="{% url 'refeicao' paciente.id %}" method="POST"> {% csrf_token %}
              <label for="validationServerUsername">Título</label>
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Ex: Café da manhã" name="titulo">
              </div>
              <br>
              <label for="validationServerUsername">Horário</label>
              <div class="input-group">
                  <input type="time" class="form-control" placeholder="-" name="horario">
              </div>
              <br>
              <h5 class="titulo">Macronutrientes</h5>
              <div class="container">
                <div class="row">

                  <div class="col-md-4">
                    <label for="validationServerUsername">Carboidratos</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" name="carboidratos">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label for="validationServerUsername">Proteínas</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" name="proteinas">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label for="validationServerUsername">Gorduras</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" name="gorduras">
                    </div>
                  </div>

                </div>
              </div>
              <br>

              <input type="submit" value="Cadastrar" class="btn btn-success">
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal Excluir Refeição-->
  <div class="modal fade" id="excluirRefeicao" tabindex="-1" role="dialog" aria-labelledby="excluirRefeicao" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
        </div>
        
        <div class="modal-footer">
          <form action="{% url 'excluir_refeicao' %}" method="POST"> {% csrf_token %}
            <input type="hidden" id="id_refeicao" name="id">
            
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <input type="submit" class="btn btn-danger" value="Confirmar">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal "Nova Opção" -->
  <div class="modal fade" id="novaOpcaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{paciente.nome}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          
        <div class="modal-body">
            
          <h4 class="titulo">Adicionar opção de refeição:</h4>
          <br>

          <!-- Formulário "Nova Opção" -->
          <div id="form-opcao">
            <form action="{% url 'opcao' paciente.id %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}

              <label for="validationServerUsername">Selecione a refeição</label>
              <div class="input-group">
                <select class="form-control" name="refeicao">
                  {% for refeicao in refeicoes %}
                    <option value="{{refeicao.id}}">{{refeicao.titulo}}</option>      
                  {% endfor %}
                </select>
              </div>
              <br>

              <label for="validationServerUsername">Imagem</label>
              <div class="input-group">
                <input style="border: none;" type="file" class="form-control" placeholder="" name="imagem">
              </div>
              <br>

              <label for="validationServerUsername">Descrição</label>
              <div class="input-group">
                <textarea class="form-control" name='descricao'></textarea>
              </div>
              <br>

              <input type="submit" value="Cadastrar" class="btn btn-success">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Excluir Opção-->
  <div class="modal fade" id="excluirOpcao" tabindex="-1" role="dialog" aria-labelledby="excluirOpcao" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
        </div>
        
        <div class="modal-footer">
          <form action="{% url 'excluir_opcao' %}" method="POST"> {% csrf_token %}
            <input type="hidden" id="id_opcao" name="id">
            
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <input type="submit" class="btn btn-danger" value="Confirmar">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#excluirOpcao').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Botão que acionou o modal
      var id = button.data('id') // Extrair informações de atributos data-*

      var modal = $(this)
      modal.find('.modal-title').text('Deseja excluir essa opção?')
      modal.find('#id_opcao').val(id)
    })

    $('#excluirRefeicao').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Botão que acionou o modal
      var id = button.data('id') // Extrair informações de atributos data-*

      var modal = $(this)
      modal.find('.modal-title').text('Deseja excluir essa refeição?')
      modal.find('#id_refeicao').val(id)
    })
  </script>

{% endblock%}