{% extends 'base_plataforma.html' %}
{% load static %}

{% block 'plataforma' %}

  
  <br>

  <div class="row">

    <div class="col-md-2">
      {% if paciente.sexo == "M"%}
        <img src="{% static 'plataforma/img/perfil2.png' %}">
      {% else %}
        <img src="{% static 'plataforma/img/perfil1.png' %}">
      {% endif %}
    </div>

    <div class="col-md-2 dados descricao">
      <h4>{{paciente.nome}}</h4>
      <h6>{{paciente.idade}} Anos</h6>
    </div>

  </div>
  
  {% if messages %}
    <br>
    {% for message in messages %}
      <div class="alert {{message.tags}}">
        {{message}}
      </div>
    {% endfor %}
  {% endif %}
  <hr>

  <!--Botão Modal "Nova Refeição"-->
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#novaRefeicaoModal">
      Nova refeição
    </button>

  {% if refeicoes %}



    <!-- Botão Modal "Opção" -->
    <button style="margin-left: 10px;" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#novaOpcaoModal">
      Opção de refeição
    </button>

    <button style="margin-left: 10px;" type="button" class="btn btn-outline-primary">
      Exportar Plano de Alimentação
    </button>
    <br>
    <br>

    {% for refeicao in refeicoes %}
      <div class="fundo-alimentar">
        <div class="refeicao">

          <div class="head-refeicao">
            <span>{{refeicao.titulo}}</span>
            <span> - </span>
            <span>{{refeicao.horario}}</span>
            
            <!-- Botão "Excluir Refeição" -->
            <a href="{% url 'excluir_refeicao' refeicao.id %}" style="float: right; color: black;" type="button" class="close">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>

            <div class="body-refeicao">
              {% for opcao in opcoes %}
                {% if opcao.refeicao == refeicao %}
                  <div class="opcao">
                    <div class="row">
                  
                      <div class="col-md-1">
                        <img width="100%" src="{{opcao.imagem.url}}"> 
                      </div>
                          
                      <div class="col-md-10">
                        {{opcao.descricao}}
                      </div>

                      <!-- Botão "Excluir Opção" -->
                      <div class="col-md-1">
                        <a href="{% url 'excluir_opcao' opcao.id %}" class="btn btn-danger">Excluir</a>
                      </div>
                      
                    </div>
                  </div>
                  <br>
                {% endif %}
              {% endfor %}
            </div>
            
        </div>
      </div>
    {% endfor %}
  {% else %}
  <br>
  <br>
    <label>Esse paciente ainda não possui plano de alimentação, cadastre uma nova refeição!</label>
  {% endif %}

  <!-- Modal "Nova Refeição" -->
  <div class="modal fade" id="novaRefeicaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{paciente.nome}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          
        <div class="modal-body">
            
          <h4 class="titulo">Adicionar refeição:</h4>
          <br>
          <!-- Formulário "Nova Refeição" -->
          <div id="form-refeicao">
            <form action="{% url 'refeicao' paciente.id %}" method="POST"> {% csrf_token %}
              <label for="validationServerUsername">Título</label>
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Ex: Café da manhã" name="titulo">
              </div>
              <br>
              <label for="validationServerUsername">Horário</label>
              <div class="input-group">
                  <input type="time" class="form-control" placeholder="-" name="horario">
              </div>
              <br>
              <h5 class="titulo">Macronutrientes</h5>
              <div class="container">
                <div class="row">

                  <div class="col-md-4">
                    <label for="validationServerUsername">Carboidratos</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" name="carboidratos">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label for="validationServerUsername">Proteínas</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" name="proteinas">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label for="validationServerUsername">Gorduras</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="" name="gorduras">
                    </div>
                  </div>

                </div>
              </div>
              <br>

              <input type="submit" value="Cadastrar" class="btn btn-success">
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal "Nova Opção" -->
  <div class="modal fade" id="novaOpcaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{paciente.nome}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          
        <div class="modal-body">
            
          <h4 class="titulo">Adicionar opção de refeição:</h4>
          <br>

          <!-- Formulário "Nova Opção" -->
          <div id="form-opcao">
            <form action="{% url 'opcao' paciente.id %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}

              <label for="validationServerUsername">Selecione a refeição</label>
              <div class="input-group">
                <select class="form-control" name="refeicao">
                  {% for refeicao in refeicoes %}
                    <option value="{{refeicao.id}}">{{refeicao.titulo}}</option>      
                  {% endfor %}
                </select>
              </div>
              <br>

              <label for="validationServerUsername">Imagem</label>
              <div class="input-group">
                <input style="border: none;" type="file" class="form-control" placeholder="" name="imagem">
              </div>
              <br>

              <label for="validationServerUsername">Descrição</label>
              <div class="input-group">
                <textarea class="form-control" name='descricao'></textarea>
              </div>
              <br>

              <input type="submit" value="Cadastrar" class="btn btn-success">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>





  <script>

    function exibe_refeicao(){
      const form_refeicao = document.getElementById('form-refeicao')
      const form_opcao = document.getElementById('form-opcao')

      form_refeicao.style.display = "block"
      form_opcao.style.display = "none"
    }

    function exibe_opcao(){
      const form_refeicao = document.getElementById('form-refeicao')
      const form_opcao = document.getElementById('form-opcao')

      form_refeicao.style.display = "none"
      form_opcao.style.display = "block"
    }

  </script>

{% endblock%}